*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #fff;
    font-family: Helvetica,Arial,sans-serif;;
}


.top{
    display:flex;
    justify-content:space-between;
    padding: 10px;
    margin: 10px 30px 0 30px;
}

img{
    width:180px;
}

a{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 10px;
    color:#111;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

hr{
    border-color: rgba(254, 254, 254, 0.4);
}
section{
    margin:50px auto;
    width:450px;
    height: auto;
}

h1{
    font-size:2.2rem;
    color: rgba(50,50,50);
    padding-bottom:12px;
    margin-top: 5px;
}
p{
    color: rgba(50,50,50);
    font-size: 1.2rem;
    margin-bottom: 25px;
}

h4{
    color:rgba(50,50,50);
    font-weight: lighter;
    margin: 5px 0;
}

.email{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(50,50,50);
}

input[type=password]{
    width:100%;
    font-size: 16px;
    padding:15px;
    margin: 10px 0 15px 0;
}

.password{
    font-size: 15px;
    font-weight: lighter;
    color:#1e90ff;
}

input[type=button]{
    width:100%;
    font-size: 1.6rem;
    color:#fff;
    padding:16px;
    background-color: #e50914;
    border: none;
    margin:15px 0;
    margin-bottom: 120px;
}

footer{
    width: 100%;
    height:25vh;
    border-top: 1px solid rgba(230, 230, 230);
}

.link{
    margin:20px 0 0 115px;
    font-size: 1.1rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-content: center;

}

footer a{
    color: #808080;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 130px;
    text-decoration: none;
}

@media only screen and (max-width:500px){
    body{
        overflow-x: hidden;
    }

    .top{
        height:auto;
    }
    img{
        width:70px;
    }
    .top a{
        font-size: 1rem;
        margin: 0;
    }

    section{
        width:400px;
    }

    footer{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -10%;
    }
}